<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>About</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'canteen/css/style.css'%}">

</head>
{% include "canteen/header.html" %}

<body>



<div  class="p-3= mb-2 bg-dark text-white text-center" style="text-align:center; margin-top: 70px;">
    <h1>Comments</h1>
    </div>

    {% for el in news %}



<div  class="p-3= mb-2 bg-dark text-white text-center" style="display: flex;padding-left: 100px; margin-top: 10px;">

    <img src="{{el.photo.url}}" class="img-fuid"  style="width:50px; height:50px; padding-right: 10px">
    <h3 style="padding-right: 10px">{{ el.user }}</h3>
    <h2 style="padding-right: 10px">{{ el.comment }}</h2>

    </div>
{% endfor %}



<!--    <div class="container-fluid">-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit" class=" btn btn-default">Save</button>-->
<!--    </form>-->

<!--</div>-->


</body>



{% include "canteen/footer.html" %}


</html>
</html>
