
<footer>
        <div class="fsticky">
            <div class="smedia2">
                <a href="wa.me//77789047805"><img src="https://img.icons8.com/ios-glyphs/30/000000/whatsapp.png" alt=""></a>
                <a href="https://www.instagram.com/sdu.foodpoint/"><img src="https://img.icons8.com/ios-glyphs/30/000000/instagram-circle.png"/></a>
            </div>
            <nav class="site-nav">
                <ul class="lsts">
                    <li><a class="site-link" href="home">Our Service</a></li>
                    <li><a class="site-link" href="">Online Order</a></li>
                    <li><a class="site-link" href="">Story</a></li>
                    <li><a class="site-link" href="about-us">About US</a></li>
                    <li><a class="site-link" href="login">Contact</a></li>
                    <li><a class="site-link" href="menu">Menu</a></li>


                    <li><button class="btn1">
                        <a class="site-link" href="account">Account</a>
                    </button>


                </ul>
            </nav>
        </div>
    </footer>

<style>

    body{
    font-family: "Montserrat";
    }

    .main{
    margin-bottom: 50px;
    }


    .about{
    padding: 50px 50px;
    }

    a{
        color: darkgrey;
        text-decoration:none;
        cursor: pointer;
        font-size: 23px;
        font-weight:300;
        line-height:21.6px;
    }
    a:hover{
    color:darkgrey;
    text-decoration:none;
    }

    .carousel-inner{
    text-align: center;
    }

    .carousel-inner img {
	filter: brightness(40%);
}


.carousel{
margin:15px;
}

    .fsticky{
    background-color:white;
    padding: 5px;
    width:100%;
    display: inline-block;
    text-align:center;
    position:fixed;
    bottom: 0;
    left:0;
    z-index: 99;

    }

    .site-nav{
    display:inline-block;
    position:relative;
    text-align:center;
    font-size: 20px;
    }
    .lsts{
    list-style:none;
    font-family: "Raleway",sans-serif;
    font-weight: 500;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    padding:0 15px;
    margin:0;
    }
    .site-nav li{
    display:inline-block;
    padding:10px;


    }
    .site-nav a{
    color: black;
    }
    .smedia2{
    display:inline-block;
    text-lign:center;
    }
    .smedia2 img{
    width: 40px;
    height: 40px;
    }

    .btn1{
    background-color: orange;
    border-color: #f1933c;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1 px solid transparent;
    padding:7px;
    margin-bottom:5px;
}


</style>